<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2>Продукт '{{ name }}'</h2>
            <form action="" id="detailed">
                <div class="form-group">
                    <label for="name">Название</label>
                    <div class="clearfix"></div>
                    <input type="text" id="name" name="name" value="{{ name }}">
                </div>
                <div class="form-group" id="category">
                    <label for="parent-list">Категория</label>
                    <div class="clearfix"></div>
                        {{ main_cat | raw }}
                        {{ options_cat | raw }}

                </div>
                <div class="form-group" id="brand">
                    <label for="brand-list">Бренд</label>
                    <div class="clearfix"></div>
                    <select name="brand-list" class="form-control" id="brand-list">
                        <option value="{{ brand_id }}">{{ main_brand }}</option>
                        {{ options_brand | raw }}
                    </select>
                </div>
                <div class="form-group" id="merch">
                    <label for="merch-list">Поставщик</label>
                    <div class="clearfix"></div>
                    <select name="merch-list" class="form-control" id="merch-list">
                        <option value="{{ merch_id }}">{{ main_merch }}</option>
                        {{ options_merch | raw }}
                    </select>
                </div>
                <div class="form-group">
                    <label for="name">Описание</label>
                    <div class="clearfix"></div>
                    <textarea class="form-control" rows="5" type="text" id="descr" name="descr" value="{{ description }}">{{ description }}</textarea>
                    {{ decsription }}
                </div>

                {% for input in inputs %}
                    <div class="form-group">
                        <label for="{{ input.id }}">{{ input.name }}</label>
                        <div class="clearfix"></div>
                        <input type="text" id="{{ input.id  }}" name="{{ input.id  }}" value="{{ input.value }}">
                    </div>
                {% endfor %}
                <div class="form-group">
                    <input type="hidden" value="{{ id }}" id="id" name="id">
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="Обновить">
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $('#detailed').submit(function(e){
        e.preventDefault();
        $.ajax({
            url: '/backend/web/products/insert',
            method: 'post',
            data: $(this).serialize(),
            dataType: 'json',
            success: function (data) {
                console.log(data);
            },
            error:function () {

            }
        });
    });
</script>