{{ set(this, 'title', 'Admin catalog') }}
<div class="site-index">
    <h2>Добавить категорию</h2>
    <form action="/backend/web/catalog/addsection" method="get">
        <div class="form-group">
            <label for="new-catalog" id="">Название раздела</label>
            <input name="name" type="text" class="form-control" id="new-catalog">
        </div>
        <div class="form-group">
            <label for="">Родительский каталог</label>
            <div class="clearfix"></div>
            <select class="selectpicker" name="branch" id="branch">
                <option value="">Новый раздел</option>
                {{ selectsections | raw }}
            </select>
        </div>

        <input type="submit" class="btn btn-primary" value="Добавить"></input>
        <div class="error {% if formError == 'Категория успешно добавлена' %} {{ 'success' }} {% endif %}">
                 {{ formError |raw }}
        </div>
    </form>
    <h2>Категории</h2>
    <form action="/backend/web/catalog" id="filter-form">
        <div class="form-group">
            <label for="filter" id="">Фильтр</label>
            <input name="name" type="text" class="form-control" id="filter">
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Поиск"></input>
        </div>
    </form>
    {{ sections | raw }}
    <h2>Иерархия</h2>
    <ul class="sections">
         {{ hier | raw }}
    </ul>
</div>

